@import url('../css/reset.css');

.container-doacao-main{
    border-top: 3px solid #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-doacao-main > h1{
    font-family: var(--font-titles);
    font-size: 7em;
    color: var(--mainColor);
}

.container-doacao-informations{
    width: 80%;
    height: 200px;
    padding: 20px;
    background-color: var(--complementaryColor);
    border-radius: 15px;
    border-bottom: 5px solid var(--mainColor);
    box-shadow: var(--shadowDefault);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.container-logo-informations{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top , var(--mainColor), var(--subColor));
    box-shadow: var(--shadowDefault);
    border-radius: 50%;
    border: 5px solid #fff;
}

.container-logo-informations > img{
    width: 100%;
}

.container-doacao-informations > p{
    font-size: 2em;
    font-family: var(--font-default);
    font-weight: bolder;
    width: 100%;
    color: var(--mainColor);
}

.container-doacao-informations > p > strong{
    font-style: italic;
    color: #fff;
    text-shadow: var(--shadowDefault);
}

.container-formas-doacao
{
    background-image: linear-gradient(to top , var(--mainColor), var(--subColor));
    height: 500px;
    width: 80%;
    border-radius: 15px;
    box-shadow: var(--shadowDefault);
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.container-forma-doacao-agencia
{
    height: 90%;
    min-width: 40%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--accentColor);
    border: 5px solid #fff;
    border-radius: 30px;
    padding: 15px;
}

.container-icon-and-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.container-icon-and-title > div{
    height: 50px;
    width: 50px;
    box-shadow: var(--shadowDefault);
    border-radius: 50%;
    background-color: var(--complementaryColor);
    border: 3px solid var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-icon-and-title > div > img{
    width: 100%;
}

.container-icon-and-title > h3{
    color: var(--mainColor);
    font-family: var(--font-titles);
    font-size: 2em;
}

.container-forma-doacao-agencia > p{
    /* margin: 30px 0 0 0; */
    color: var(--mainColor);
    font-size: 1.2em;
    font-family: var(--font-titles);
    width: 100%;
    text-align: center;
}

.list-informations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--complementaryColor);
    padding: 10px;
    border: 2px solid var(--mainColor);
    border-radius: 15px;
    box-shadow: var(--shadowDefault);
}

.list-informations > li{
    font-size: 1.5em;
    font-family: var(--font-titles);
    color: var(--mainColor);
}

.list-informations > li > strong{
    color: #fff;
    text-shadow: var(--shadowDefault);
}

.container-citacao{
    width: 80%;
    background-color: var(--complementaryColor);
    border-radius: 15px;
    border-bottom: 3px solid var(--mainColor);
    box-shadow: var(--shadowDefault);
}

.container-citacao > p{
    font-size: 1.2em;
    color: var(--mainColor);
    font-family: var(--font-titles);
    padding: 5px;
    text-align: center;
}

.container-forma-doacao-qrcode{
    height: 90%;
    min-width: 40%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accentColor);
    border: 5px solid #fff;
    border-radius: 30px;
    padding: 15px;
  
}

.container-forma-doacao-pix{
    height: 90%;
    min-width: 40%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-forma-doacao-pix > p{
    color: var(--mainColor);
    font-size: 1.2em;
    font-family: var(--font-titles);
    width: 100%;
    text-align: center;
}

.container-img-qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.container-img-qr-code > img{
    height: 100%;
    box-shadow: var(--shadowDefault);
}

.container-forma-doacao-pix > button{
    color: var(--accentColor);
    font-size: 1.2em;
    padding: 10px;
    border: 3px solid #fff;
    background-color: var(--mainColor);
    font-family: var(--font-titles);
    border-radius: 15px;
    box-shadow: var(--shadowDefault);
    transition: 0.8s;
    cursor: pointer;
}

.container-forma-doacao-pix > button:hover{
    transform: scale(1.1);
}


