@import url('../css/reset.css');


/*Estilização da Barra de Navegação*/

.nav-bar{
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to top , var(--mainColor), var(--subColor));
    box-shadow: var(--shadowDefault);
}

.container-logo{
    height: 80px;
    width: 80px;
    transition: 0.8s;
    cursor: pointer;
}

.container-logo:hover{
    transform: scale(1.2);
}

.container-logo .logo{
    object-fit: cover;
    width: 100%;
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 30px;
}

.link-item{
    color: var(--accentColor);
    font-family: var(--font-titles);
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.8s;
}

.container-icon-and-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.8s;
    border: 3px solid transparent;
    padding: 5px;
    border-radius: 15px;
}

.container-icon-and-link:hover{
    border: 3px solid var(--accentColor);
    transform: scale(1.2);
}

.item-submenu{
    position: relative;
    display: flex;
    align-items: center;
}

.item-submenu:hover .submenu-dropdown{
    visibility: visible;
    opacity: 1;
}

.submenu-dropdown{
    visibility: hidden;
    background-color: var(--accentColor);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 3px solid var(--mainColor);
    box-shadow: var(--shadowDefault);
    position: absolute;
    top: 55px;
    left: -10px;
    width: 200px;
    opacity: 0;
    transition: 0.5s;
    z-index: 1000;
}

.submenu-item{
    transition: 0.8s;
    cursor: pointer;
    width: 100%;
    transition: 0.8s;
    border-bottom: 2px solid var(--mainColor);
    padding: 5px;
}

.submenu-item:hover{
    transform: scale(1.1);
    background-color: var(--complementaryColor);
}

.link-item-submenu{
    color: var(--mainColor);
    font-family: var(--font-titles);
    font-size: 1.2em;
    border-radius: 15px;
}

.item-menu{
    transition: 0.8s;
    cursor: pointer;
    border: 3px solid transparent;
    padding: 5px;
    border-radius: 15px;
}

.item-menu:hover{
    border: 3px solid var(--accentColor);
    transform: scale(1.2);
}


/*Estilização do Header*/


