@import url('../css/reset.css');


/*Estilização da Barra de Navegação*/

.nav-bar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to top , var(--mainColor), var(--subColor));
    box-shadow: var(--shadowDefault);
    z-index: 1000;
}

label{
    height: 80px;
    width: 80px;
    display: none;
}

.menu-mobile{
    display: none;
    cursor: pointer;
    height: 80px;
    width: 80px;
    position: relative;
}

.menu-mobile::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 100%;
    height: 10%;
    background-color: var(--accentColor);
    border-radius: 20px;
    transition: 1s ease;
}

.menu-mobile::before{
    content: '';
    position: absolute;
    top: 60%;
    left: 15%;
    width: 70%;
    height: 10%;
    background-color: var(--accentColor);
    border-radius: 20px;
    transition: 1s ease;
}

#menu-mobile-container:checked ~ label .menu-mobile::after{
    transform: rotate(225deg);
    top: 45%;
    left: 15%;
}

#menu-mobile-container:checked ~ label .menu-mobile::before{
    transform: rotate(-225deg);
    top: 45%;
    left: 15%;
    width: 100%;
}

.container-logo{
    height: 80px;
    width: 80px;
    transition: 0.8s;
    cursor: pointer;
}

.container-logo:hover{
    transform: scale(1.2);
}

.container-logo .logo{
    object-fit: cover;
    width: 100%;
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 30px;
}

.link-item{
    color: var(--accentColor);
    font-family: var(--font-titles);
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.8s;
    text-shadow: var(--shadowDefault);
}

.container-icon-and-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.8s;
    border: 3px solid transparent;
    padding: 10px;
    border-radius: 15px;
}

.item-submenu{
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
}

.item-submenu:hover{
    background-color: var(--hoverColor);
}

.item-submenu:hover .submenu-dropdown{
    visibility: visible;
    opacity: 1;
}

.item-submenu:hover .submenu-item{
    visibility: visible;
}

.submenu-dropdown{
    visibility: hidden;
    background-color: var(--accentColor);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 3px solid var(--mainColor);
    box-shadow: var(--shadowDefault);
    position: absolute;
    top: 65px;
    bottom: 65;
    width: 250px;
    opacity: 0;
    z-index: 100;
    transition: all 0.3s;
}

.submenu-item{
    visibility: hidden;
    transition: all 0.3s;
    cursor: pointer;
    width: 100%;
    border-bottom: 2px solid var(--mainColor);
    padding: 5px;
}

.submenu-item:hover{
    background-color: var(--complementaryColor);
}

.link-item-submenu{
    color: var(--mainColor);
    font-family: var(--font-titles);
    font-size: 1.2em;
    border-radius: 15px;
    width: 100%;
}

.item-menu{
    transition: 0.8s;
    cursor: pointer;
    border: 3px solid transparent;
    padding: 10px;
    border-radius: 10px;
}

.item-menu:hover{
    background-color: var(--hoverColor);
}

/*Estilização do Header*/

.header{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header > img{
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    z-index: -10;
    transition: 0.8s;
}

.header > img.selected{
    opacity: 1;
}

.container-redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    gap: 25px;
}

.container-icon{
    height: 70px;
    width: 70px;
    background-color: var(--complementaryColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--mainColor);
    box-shadow: var(--shadowDefault);
    opacity: 50%;
    transition: 0.8s;
}

.container-icon img{
    width: 70%;
}

.container-icon:hover{
    transform: scale(1.2);
    opacity: 100%;
}

